#container {
  width: 100%;
  height: 600px;
}

#container :nth-child(1) {
  background-color: black;
}

#container :nth-child(2) {
  background-color: yellow;
}

#container :nth-child(3) {
  background-color: red;
}

.hoverMe {
  height: 200px;
  border: 1px solid black;
}
